# JSON exercise

Download the data from [**here**](https://drive.google.com/file/d/1DGaX5AVfYhmWeb15lI-MzUbSKTYSz9fQ/view?usp=sharing) and answer following questions:
1. Find the 10 countries with most projects
2. What are top 10 sectors with projects?
3. Find the top 10 major project themes (using column 'mjtheme_namecode')
4. In 3. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [21]:
import pandas as pd
import json
#load json object
with open('world_bank_projects.json') as f:
    nested_json = json.load(f)



blog = pd.json_normalize(nested_json)
blog.head()

,sector,supplementprojectflg,projectfinancialtype,prodline,mjtheme,idacommamt,impagency,project_name,mjthemecode,closingdate,...,sector2.Percent,sector2.Name,sector4.Percent,sector4.Name,project_abstract.cdata,theme1.Percent,theme1.Name,sector3.Percent,sector3.Name,_id.$oid
0,"[{'Name': 'Primary education'}, {'Name': 'Seco...",N,IDA,PE,[Human development],130000000,MINISTRY OF EDUCATION,Ethiopia General Education Quality Improvement...,"8,11",2018-07-07T00:00:00Z,...,26.0,Secondary education,12.0,Tertiary education,The development objective of the Second Phase ...,100,Education for all,16.0,Public administration- Other social services,52b213b38594d8a2be17c780
1,[{'Name': 'Public administration- Other social...,N,OTHER,RE,"[Economic management, Social protection and ri...",0,MINISTRY OF FINANCE,TN: DTF Social Protection Reforms Support,"1,6",NaN,...,30.0,General public administration sector,NaN,NaN,NaN,30,Other economic management,NaN,NaN,52b213b38594d8a2be17c781
2,[{'Name': 'Rural and Inter-Urban Roads and Hig...,Y,IDA,PE,"[Trade and integration, Public sector governan...",6060000,MINISTRY OF TRANSPORT AND COMMUNICATIONS,Tuvalu Aviation Investment Project - Additiona...,"5,2,11,6",NaN,...,NaN,NaN,NaN,NaN,NaN,46,Regional integration,NaN,NaN,52b213b38594d8a2be17c782
3,[{'Name': 'Other social services'}],N,OTHER,RE,"[Social dev/gender/inclusion, Social dev/gende...",0,LABOR INTENSIVE PUBLIC WORKS PROJECT PMU,Gov't and Civil Society Organization Partnership,"7,7",NaN,...,NaN,NaN,NaN,NaN,NaN,50,Participation and civic engagement,NaN,NaN,52b213b38594d8a2be17c783
4,[{'Name': 'General industry and trade sector'}...,N,IDA,PE,"[Trade and integration, Financial and private ...",13100000,MINISTRY OF TRADE AND INDUSTRY,Second Private Sector Competitiveness and Econ...,"5,4",2019-04-30T00:00:00Z,...,40.0,Other industry,NaN,NaN,The development objective of the Second Privat...,30,Export development and competitiveness,10.0,SME Finance,52b213b38594d8a2be17c784

In [3]:
df = pd.read_json("world_bank_projects.json")
df.head()

,sector,supplementprojectflg,projectfinancialtype,prodline,mjtheme,idacommamt,impagency,project_name,mjthemecode,closingdate,...,majorsector_percent,board_approval_month,theme_namecode,countryname,url,source,projectstatusdisplay,ibrdcommamt,sector_namecode,_id
0,"[{'Name': 'Primary education'}, {'Name': 'Seco...",N,IDA,PE,[Human development],130000000,MINISTRY OF EDUCATION,Ethiopia General Education Quality Improvement...,"8,11",2018-07-07T00:00:00Z,...,"[{'Percent': 46, 'Name': 'Education'}, {'Perce...",November,"[{'code': '65', 'name': 'Education for all'}]",Federal Democratic Republic of Ethiopia,http://www.worldbank.org/projects/P129828/ethi...,IBRD,Active,0,"[{'code': 'EP', 'name': 'Primary education'}, ...",{'$oid': '52b213b38594d8a2be17c780'}
1,[{'Name': 'Public administration- Other social...,N,OTHER,RE,"[Economic management, Social protection and ri...",0,MINISTRY OF FINANCE,TN: DTF Social Protection Reforms Support,"1,6",NaN,...,"[{'Percent': 70, 'Name': 'Public Administratio...",November,"[{'code': '24', 'name': 'Other economic manage...",Republic of Tunisia,http://www.worldbank.org/projects/P144674?lang=en,IBRD,Active,0,"[{'code': 'BS', 'name': 'Public administration...",{'$oid': '52b213b38594d8a2be17c781'}
2,[{'Name': 'Rural and Inter-Urban Roads and Hig...,Y,IDA,PE,"[Trade and integration, Public sector governan...",6060000,MINISTRY OF TRANSPORT AND COMMUNICATIONS,Tuvalu Aviation Investment Project - Additiona...,"5,2,11,6",NaN,...,"[{'Percent': 100, 'Name': 'Transportation'}]",November,"[{'code': '47', 'name': 'Regional integration'...",Tuvalu,http://www.worldbank.org/projects/P145310?lang=en,IBRD,Active,0,"[{'code': 'TI', 'name': 'Rural and Inter-Urban...",{'$oid': '52b213b38594d8a2be17c782'}
3,[{'Name': 'Other social services'}],N,OTHER,RE,"[Social dev/gender/inclusion, Social dev/gende...",0,LABOR INTENSIVE PUBLIC WORKS PROJECT PMU,Gov't and Civil Society Organization Partnership,"7,7",NaN,...,"[{'Percent': 100, 'Name': 'Health and other so...",October,"[{'code': '57', 'name': 'Participation and civ...",Republic of Yemen,http://www.worldbank.org/projects/P144665?lang=en,IBRD,Active,0,"[{'code': 'JB', 'name': 'Other social services'}]",{'$oid': '52b213b38594d8a2be17c783'}
4,[{'Name': 'General industry and trade sector'}...,N,IDA,PE,"[Trade and integration, Financial and private ...",13100000,MINISTRY OF TRADE AND INDUSTRY,Second Private Sector Competitiveness and Econ...,"5,4",2019-04-30T00:00:00Z,...,"[{'Percent': 50, 'Name': 'Industry and trade'}...",October,"[{'code': '45', 'name': 'Export development an...",Kingdom of Lesotho,http://www.worldbank.org/projects/P144933/seco...,IBRD,Active,0,"[{'code': 'YZ', 'name': 'General industry and ...",{'$oid': '52b213b38594d8a2be17c784'}

In [6]:
df["countryname"].value_counts().head(10)

Republic of Indonesia              19
People's Republic of China         19
Socialist Republic of Vietnam      17
Republic of India                  16
Republic of Yemen                  13
People's Republic of Bangladesh    12
Nepal                              12
Kingdom of Morocco                 12
Africa                             11
Republic of Mozambique             11
Name: countryname, dtype: int64

In [23]:
df["sector"]

0      [{'Name': 'Primary education'}, {'Name': 'Seco...
1      [{'Name': 'Public administration- Other social...
2      [{'Name': 'Rural and Inter-Urban Roads and Hig...
3                    [{'Name': 'Other social services'}]
4      [{'Name': 'General industry and trade sector'}...
                             ...
495    [{'Name': 'General agriculture, fishing and fo...
496    [{'Name': 'Central government administration'}...
497    [{'Name': 'Irrigation and drainage'}, {'Name':...
498    [{'Name': 'Agricultural extension and research...
499    [{'Name': 'Urban Transport'}, {'Name': 'Public...
Name: sector, Length: 500, dtype: object

In [25]:
sectors = pd.json_normalize(nested_json, record_path='sector', meta=['countryname', 'project_name'])
sectors

,Name,countryname,project_name
0,Primary education,Federal Democratic Republic of Ethiopia,Ethiopia General Education Quality Improvement...
1,Secondary education,Federal Democratic Republic of Ethiopia,Ethiopia General Education Quality Improvement...
2,Public administration- Other social services,Federal Democratic Republic of Ethiopia,Ethiopia General Education Quality Improvement...
3,Tertiary education,Federal Democratic Republic of Ethiopia,Ethiopia General Education Quality Improvement...
4,Public administration- Other social services,Republic of Tunisia,TN: DTF Social Protection Reforms Support
...,...,...,...
1400,Agricultural extension and research,Republic of Indonesia,Sustainable Management of Agricultural Researc...
1401,"Public administration- Agriculture, fishing an...",Republic of Indonesia,Sustainable Management of Agricultural Researc...
1402,"Agro-industry, marketing, and trade",Republic of Indonesia,Sustainable Management of Agricultural Researc...
1403,Urban Transport,Republic of Kenya,KENYA: NATIONAL URBAN TRANSPORT IMPROVEMENT PR...
1404,Public administration- Transportation,Republic of Kenya,KENYA: NATIONAL URBAN TRANSPORT IMPROVEMENT PR...

In [15]:
# define json string
data = [{"state": "Florida", 
        "shortname": "FL",
        "info": {"governor": "Rick Scott"},
        "counties": [{"name": "Dade", "population": 12345},
                     {"name": "Broward", "population": 40000},
                     {"name": "Palm Beach", "population": 60000}]},
       {"state": "Ohio",
        "shortname": "OH",
        "info": {"governor": "John Kasich"},
        "counties": [{"name": "Summit", "population": 1234},
                     {"name": "Cuyahoga", "population": 1337}]}]
pd.json_normalize(data)
pd.json_normalize(data=data, record_path='counties', meta=['state', 'shortname', ['info', 'governor']])

         name  population    state shortname info.governor
0        Dade       12345  Florida        FL    Rick Scott
1     Broward       40000  Florida        FL    Rick Scott
2  Palm Beach       60000  Florida        FL    Rick Scott
3      Summit        1234     Ohio        OH   John Kasich
4    Cuyahoga        1337     Ohio        OH   John Kasich